img{
    width: 10vw;
    height: 20vh;
    justify-self: center;
    align-self: center;
}
.mat-card{
    border-radius: 20px;
    margin: 10px;
}
.gridCard1{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px;
}
.temp{
    display: grid;
    grid-template-columns: 2fr 1fr
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.infoPlots{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.subinfo{
    justify-self: center;
    align-self: center;
}

.gridCard2{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.columns{
    justify-self: center;
    align-self: center;
    display: grid;
    gap: 20px;
}