#hero {
    padding: 14rem 1.5rem;
    background-image: url('./assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
}

:root {
    --bs-body-font-family: 'Hepta Slab', var(--bs-font-sans-serif);
    color: #121114;
}

.navbar-titles {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

.font-titles {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 350%;
    color:white;
}

.second-titles {
    color:rgb(86, 57, 37);
}
.third-titles {
    font-size: 200%;
    color:rgb(6, 147, 6);
}
.paragraph-hero {
    font-size: large;
    color:white;
    width: 35%;
}
#cultivo {
    padding: 5rem 1.5rem;
    background-image: url('./assets/images/cultive.jpg');
    background-size: cover;
    background-position: center;
}
