.plot-information {
  display: flex;
  padding-top: 1rem;
}
.title-button {
  justify-content: center;
  flex: 50%;
}
.static-information {
  flex: 50%;
}

@media (max-width: 768px) {
  .title-button, .static-information {
    
  }
}
/* .input-wrapper {
  float: right;
  position: relative;
  width: 300px;

}

.input{
  border: none;
  background-color:#373737;
  border-radius: 12px;
  width: 300px;
  height: 30px;
  color: #b8b8b8;
}

.input-icon {
  color: #7F7F7F;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: 12px;
}
.example-card {
  width: 20vw;
  height: 30vh;
  border-radius: 15px;
  background-color: #148414;
  color:white ;
  filter: drop-shadow(13px 12px 7px rgba(0, 0, 0, 0.25));
  justify-self: center;
  display: grid;
}
.cards{
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.img-card{
  border-radius: 15px;
  height: 18vh;
  width: 19vw;
  padding: 10px;
  justify-self: center;
}
.mat-card-title{
  text-align: center;
}
.button-details{
  background-color: #CF8509;
  margin-left: 50%;
  border-radius: 12px;
  width: 100%;
}
.button-see{
    background-color: #CF8509;
    border-radius: 12px;
    margin-top: 3px;
    width: 100%;
  } */

.button-red{
    background-color: #CF0909;
    border-radius: 12px;
    width: 100%;
    margin-top: 3px;
  }
  .button-green{
    background-color: #2F992F;
    border-radius: 12px;
    width: 100%;
    margin-top: 3px;
  }
/* .example-full-width {
    width: 100%;
    border-radius: 5px;
  } */



@media (max-width: 700px){
  .cards{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .example-card {
    width:60vw;
    height: fit-content;
    border-radius: 15px;
    background-color: #148414;
    color:white ;
    filter: drop-shadow(13px 12px 7px rgba(0, 0, 0, 0.25));
    justify-self: center;
    display: grid;
  }
  .img-card{
    border-radius: 15px;
    height: 12vh;
    width: 60vw;
    padding: 10px;
    justify-self: center;
  }
}


