.mat-form-field{
    
    width: 25vw;
}
::ng-deep .mat-form-field-appearance-outline.bg .mat-form-field-outline {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: black;
  }

  .material-icons.color_black { color: #000000; }
